{box-sizing:border-box;}
body{
    font-family: Arial;
    padding: 10px;
    background:#fdb3b3;
}

/*ini kode untuk apa?/
.header{
padding:30px;
text-align:center;
background:white;
}

.header h1 {font-size:50px;}
/*Style the top navigation bar*/
.topnav{
    overflow:hidden;
    background-color:#5e595a;
}

/*Style the topnav links*/
.topnav a{
    float:left;
    display:block;
    color:#f2f2f2;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}

/*Chage color on hover*/
.topnav a:hover{
    background-color:#6bb0bd;
    color:black;
}

/*Create two unequel columns that floats next to each other*/
/*Left column*/
.leftcolumn{
    float:left;
    widht:75%;
}
/*Right column*/
.rightcolumn{
    float:left;
    widht:25%;
    background-color:#c06e8a;
    padding-left:20px;
}

/*fake image*/
.fakeimg{
    background-color:#f5f5f5;
    widht:100%;
    padding:20px;
}

/*ini kode untuk artikel*/
.card{
    background-color:white;
    padding:20px;
    margin-top:20px;
}

/*clear floats after the column*/
.row::after{
    content:"yamaha";
    display:table;
    clear:both;
}

/*footer*/
.footer{
    padding:20px;
    text-align:center;
    background:#ddd;
    margin-top:20px;
}